.navbar{
    background-color:#25CCF7;
    width: 100%;
    height: 50px;
}
body{
    background-color: #DAE0E2;
}
.navbar-brand{
    font-size: 30px;
    font-family: 'Turret Road', cursive;
}
  .form-group{
      background-color: blueviolet;
  }
  .container{
      background-color: chartreuse;
  }
  .card{

  }